.userCover {
    @apply h-[250px] w-full bg-gradient-to-tr from-violet-400 to-fuchsia-400;
    background-size: 400%;

    -webkit-animation: userCoverAnimation 5s ease-in-out infinite;
    -moz-animation: userCoverAnimation 5s ease-in-out infinite;
    animation: userCoverAnimation 5s ease-in-out infinite;
}

@keyframes userCoverAnimation {
    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.userAvatar {
    @apply absolute -top-[70px] flex items-center justify-center overflow-hidden rounded-full border-[5px] border-white bg-slate-400 md:!left-5;
    left: calc(50% - 95px);
}
