@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

.container-props {
    @apply container mx-auto min-w-[320px] max-w-6xl px-3;
}

.swal2-container {
    padding: 12px;
}
.swal2-backdrop-show {
    background: rgba(0, 0, 0, 0.7) !important;
}

.swal2-popup {
    @apply dark:bg-zinc-900 dark:text-zinc-100;
    border-radius: 20px;
}

.swal2-popup .swal2-actions .swal2-styled {
    border-radius: 8px;
}
